<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- jdbc连接的mysql或者oracle的连接包jar，最好是配置为绝对路径 -->
    <classPathEntry
            location="E:/apache-maven-3.0.5-bin/apache-maven-3.0.5/repository/mysql/mysql-connector-java/5.1.34/mysql-connector-java-5.1.34.jar"/>
    <context id="tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!-- 配置数据源信息，多数据源需要配置多份文件，对应需要修改数据源信息，可以使不同主机的数据库，也可以是同一数据库服务器上的不同数据库名 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/ssm-demo"
                        userId="cuckoo"
                        password="cuckoo">
        </jdbcConnection>
        <!-- 配置生成的model对象也就是javabean，对应数据库表属性的javabean生成到的包路径和绝对代码路径，只需要配置到工程的/src/main/java就可以了，具体的路径由包路径指定。
            由于多数据源，所以我在model后面加了一层以示区分不同数据源的信息 -->
        <javaModelGenerator targetPackage="com.itcast.springboot.model"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- mapper文件生成路劲和包名 -->
        <sqlMapGenerator targetPackage="com.itcast.springboot.mapper"
                         targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- dao层接口文件 -->
        <javaClientGenerator targetPackage="com.itcast.springboot.mapper"
                             targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <!-- 数据库里面的表名信息和配置，多张表需要配置多条信息 -->
        <table tableName="base_user" domainObjectName="UserInfo"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>

    </context>
</generatorConfiguration>